name: chinese_chess
description: A ChineseChess game developed by Flutter.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  intl: ^0.17.0
  cupertino_icons: ^1.0.2
  logging: ^1.0.2
  file_picker: ^3.0.1
  bitsdojo_window: ^0.1.2
  #desktop_window: ^0.4.0
  #window_size:
  #  git:
  #    url: git://github.com/google/flutter-desktop-embedding.git
  #    path: plugins/window_size
  #    ref: f2d8aa3820fb87316516670bf4d51a74de8ac0dd
  #menubar:
  #  git:
  #    url: git://github.com/google/flutter-desktop-embedding.git
  #    path: plugins/menubar
  #    ref: f2d8aa3820fb87316516670bf4d51a74de8ac0dd
  filesystem_picker: ^2.0.1
  file_selector: ^0.8.2
  file_selector_windows: ^0.0.2
  file_selector_macos: ^0.0.4
  file_selector_linux: ^0.0.2
  shirne_dialog:  ^1.6.0
  fast_gbk: ^1.0.0-rc
  universal_html: ^2.0.8
  shared_preferences: ^2.0.13
  
  assets_audio_player: ^3.0.4+3
  ffi: 1.2.1
  win32: 2.6.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  icons_launcher: 1.2.1 
  flutter_lints: ^2.0.1

# flutter pub run icons_launcher:create
flutter_icons:
  image_path: "assets/icon/icon.png"
  adaptive_icon_foreground: "assets/icon/icon.png"
  adaptive_icon_background: "#ffffff"
  android: true
  ios: true
  web: true
  macos: true
  windows: true
  linux: true
# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/skins/woods/
    - assets/images/
    - assets/engines/
    - assets/sounds/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
flutter_intl:
  enabled: true
